
<nav id="desktop-nav" class="head">
    <div class="logo">Yueyan Zhang</div>
    <div>
        <ul class="nav-links">
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/experience.html">Experience</a></li>
            <li><a href="../pages/projects.html">Projects</a></li>
            <li><a href="../pages/blogs.html">Blogs</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav>
<nav id="hamburger-nav">
    <div class="logo">Yueyan Zhang</div>
    <div class="hamburger-menu">
    <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-links">
        <li><a href="../pages/about.html" onclick="toggleMenu()">About</a></li>
        <li><a href="../pages/experience.html" onclick="toggleMenu()">Experience</a></li>
        <li><a href="../pages/projects.html" onclick="toggleMenu()">Projects</a></li>
        <li><a href="../pages/blogs.html">Blogs</a></li>
        <li><a href="../pages/contact.html" onclick="toggleMenu()">Contact</a></li>
    </div>
    </div>
</nav>
<script src="../scripts/script.js"></script>
